<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
 <link rel="stylesheet" href="error.css">
</head>
<body>
  {{>navbar}}
  <div class="error-img-class">
         <img src="img4.svg" alt="">
         <h5>OOPS!! Page Failed To Load</h5>
         <button type="button" class="btn btn-warning"><a href="/index">BACK TO HOME</a></button>
</div>
{{>footer}}
</body>
</html>




